.jira-container{
    display: flex;
    gap: 20px;
    padding: 2%;
    min-height: 500px;
    width: 100%;
    overflow: auto;
}

.column{
    min-width: 250px;
    background-color: #C0C0C0;
    padding: 0 5px;
    border-radius: 5px;
}

.item-container{
    margin-top: 10%;
}


.item{
    padding: 10px;
    background-color: #FFF;
    margin: 5px auto;
    text-align: center;
    cursor:pointer;
    border-radius: 5px;
}

.column-header {
    text-align: center;
    font-size: 10px;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 900;
}